#!/bin/bash

export GAZEBO_MODEL_PATH=${GAZEBO_MODEL_PATH}:${PWD}/models
export GAZEBO_RESOURCE_PATH=${GAZEBO_RESOURCE_PATH}:${PWD}/worlds
export GAZEBO_PLUGIN_PATH=${GAZEBO_PLUGIN_PATH}:${PWD}/plugins/moving_target/build:${PWD}/plugins/static_target/build
# export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:${PWD}/plugins/moving_target/build/
